{% extends "base.html" %}
{% load static %}
{% block title %} Menu items {% endblock %}
{% block content %}
<div class="container page-section vh-100 menu">
    <div class="col-12 mb-4 text-center" id="starters">
        <h3>Starters</h3>
    </div>
    <hr class="hr menu-divider">
    <div class="row">
        <div class="col-9 col-md-4 mb-3 menu-item-title">Bruschetta <br>
            <div style="font-size: 75%">Diced plum tomatoes, marinated in basil leaves & extra virgin olive oil
                served on toasted sour dough.</div>
        </div>
        <div class="col-3 col-md-2">€5.50</div>
        <div class="col-9 col-md-4 mb-3 menu-item-title">Antipasto Cucinos <br>
            <div style="font-size: 75%">Buffalo mozzarella, Parma ham, salami, marinated Mediterranean olives,
                garlic rustic ciabatta, rocket leaves, parmesan cheese, sun-dried tomato & basil pesto.</div>
        </div>
        <div class="col-3 col-md-2">€10</div>
    </div>

    <div class="row">
        <div class="col-9 col-md-4 mb-3 menu-item-title">Calamari Fritti <br>
            <div style="font-size: 75%">Lightly battered calamari served with herb aioli & carmelised red onions.
            </div>
        </div>
        <div class="col-3 col-md-2">€9.50</div>
        <div class="col-9 col-md-4 mb-3 menu-item-title">Crostini con Prosciutto e Formaggio di Capra <br>
            <div style="font-size: 75%">Goat's cheese wrapped with Parma ham served on toasted ciabatta bread with a
                fruit compote.</div>
        </div>
        <div class="col-3 col-md-2">€8</div>
    </div>

    <div class="col-12 mb-4 text-center mt-5" id="main_course">
        <h3>Main Course</h3>
    </div>
    <hr class="hr menu-divider">
    <div class="col-12 mb-2" id="pizzas">
        <h4>Pizze</h4>
    </div>
    <div class="row">
        <div class="col-9 col-md-4 mb-3 menu-item-title">Margherita <br>
            <div style="font-size: 75%">Italian tomato sauce, mozzarella, basil leaves & olive oil.</div>
        </div>
        <div class="col-3 col-md-2">€12.50</div>
        <div class="col-9 col-md-4 mb-3 menu-item-title">Pepperoni <br>
            <div style="font-size: 75%">Italian tomato sauce, mozzarella, pepperoni.</div>
        </div>
        <div class="col-3 col-md-2">€14.35</div>
    </div>
    <div class="row">
        <div class="col-9 col-md-4 mb-3 menu-item-title">Diavola <br>
            <div style="font-size: 75%">san marzano, fior di latte, pepperoni salami, chilli fakes.</div>
        </div>
        <div class="col-3 col-md-2">13.75</div>
        <div class="col-9 col-md-4 mb-3 menu-item-title">Caprese <br>
            <div style="font-size: 75%">san marzano, fior di latte, cherry tomatoes, rocket, basil pesto.</div>
        </div>
        <div class="col-3 col-md-2">€15</div>
    </div>
    <div class="row">
        <div class="col-9 col-md-4 mb-3 menu-item-title">Capricciosa <br>
            <div style="font-size: 75%">san marzano, fior di latte, mushrooms, cotto ham, artichokes, black olives.
            </div>
        </div>
        <div class="col-3 col-md-2">14.50</div>
        <div class="col-9 col-md-4 mb-3 menu-item-title">Siciliana <br>
            <div style="font-size: 75%">san marzano, fior di latte, black olives, capers, anchovies, oregano.</div>
        </div>
        <div class="col-3 col-md-2">€12.50</div>
    </div>

    <div class="col-12 mb-2 mt-4">
        <h4>Pastas</h4>
    </div>
    <div class="row">
        <div class="col-9 col-md-4 mb-3 menu-item-title">Ravioli di Manzo in Salsa di Gorgonzola <br>
            <div style="font-size: 75%">Classic beef ravioli in a white wine & gorgonzola creamy sauce, topped with
                toasted walnuts.</div>
        </div>
        <div class="col-3 col-md-2">€11.50</div>
        <div class="col-9 col-md-4 mb-3 menu-item-title">Lasagna della casa <br>
            <div style="font-size: 75%">Traditional oven baked lasagna topped with mozzarella & parmesan cheese,
                served with toasted sourdough bread.</div>
        </div>
        <div class="col-3 col-md-2">€12</div>
    </div>
    <div class="row">
        <div class="col-9 col-md-4 mb-3 menu-item-title">Pappardelle alla Bolognese<br>
            <div style="font-size: 75%">Fresh pappardelle pasta in traditional Italian bolognese sauce.</div>
        </div>
        <div class="col-3 col-md-2">€13</div>
        <div class="col-9 col-md-4 mb-3 menu-item-title">Spaghetti alla Carbonara<br>
            <div style="font-size: 75%">Fresh spaghetti carbonara with egg yolks, smoked pancetta & parmesan cheese.
            </div>
        </div>
        <div class="col-3 col-md-2">€13.50</div>
    </div>
    <div class="row">
        <div class="col-9 col-md-4 mb-3 menu-item-title">Tagliatelle alla Montanara <br>
            <div style="font-size: 75%">Fresh pappardelle pasta with wild porcini mushrooms, Italian sausage and
                truffle oil in a light cream sauce.</div>
        </div>
        <div class="col-3 col-md-2">€10.50</div>
        <div class="col-9 col-md-4 mb-3 menu-item-title">Spaghetti con Gamberoni e Cozze <br>
            <div style="font-size: 75%">Fresh spaghetti with tiger prawns & rope mussels in a cherry tomato & white
                wine sauce.</div>
        </div>
        <div class="col-3 col-md-2">€13</div>
    </div>
    <div class="row">
        <div class="col-9 col-md-4 mb-3 menu-item-title">Penne dell'Orto <br>
            <div style="font-size: 75%">Penne pasta with mixed bell peppers, courgette & basil leaves in a light
                creamy sauce, and tiger prawns.</div>
        </div>
        <div class="col-3 col-md-2">€9.75</div>
        <div class="col-9 col-md-4 mb-3 menu-item-title">Penne all'Arrabbiata<br>
            <div style="font-size: 75%">Penne in a tomato, basil, garlic & chili sauce, drizzled with virgin olive
                oil.</div>
        </div>
        <div class="col-3 col-md-2">€11.50</div>

        <div class="col-12 text-center mt-5" id="desserts">
            <h3>Desserts</h3>
        </div>
        <hr class="hr menu-divider">
        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Chocolate Brownie <br>
                <div style="font-size: 75%">With marshmallow ice cream.</div>
            </div>
            <div class="col-3 col-md-2">€6.50</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Gelato <br>
                <div style="font-size: 75%">Selection of two Italian ice cream scoops in a chocolate chip cookie
                    basket .</div>
            </div>
            <div class="col-3 col-md-2">€6</div>
        </div>

        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Jelly Delight <br>
                <div style="font-size: 75%">With vanilla ice cream.</div>
            </div>
            <div class="col-3 col-md-2">€6.50</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Tiramisu <br>
                <div style="font-size: 75%">Traditional tiramisu with fresh raspberry, espresso coffee anglaise and
                    vanilla bean ice cream.</div>
            </div>
            <div class="col-3 col-md-2">€5.75</div>
        </div>
        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Eton Mess <br>
                <div style="font-size: 75%">Mini meringues, strawberries, whipped cream & raspberry coulis.</div>
            </div>
            <div class="col-3 col-md-2">€7</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Cheesecake di Ricotta<br>
                <div style="font-size: 75%">Milk chocolate, white chocolate, raspberry or caramel, Toppings: Roast
                    hazelnuts, oreo crumble, honeycomb, berry compote or ginger biscuit .</div>
            </div>
            <div class="col-3 col-md-2">€6.60</div>
        </div>

        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Cannoli <br>
                <div style="font-size: 75%">cannoli shell filled with sweet ricotta filling.</div>
            </div>
            <div class="col-3 col-md-2">€5</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Affogato <br>
                <div style="font-size: 75%">vanilla ice cream with espresso + roasted almonds.</div>
            </div>
            <div class="col-3 col-md-2">€6.50</div>
        </div>

        <div class="col-12 mt-5 text-center" id="soft_drinks">
            <h3>Soft Drinks</h3>
        </div>
        <hr class="hr menu-divider">
        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Orange Juice</div>
            <div class="col-3 col-md-2">€3.50</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Lemonade</div>
            <div class="col-3 col-md-2">€3.75</div>
        </div>
        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Mango Juice</div>
            <div class="col-3 col-md-2">€4.30</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Mango Pineapple Smoothie</div>
            <div class="col-3 col-md-2">€4.50</div>
        </div>
        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Cola-Cola®</div>
            <div class="col-3 col-md-2">€2.50</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Diet Coke®</div>
            <div class="col-3 col-md-2">€2.50</div>
        </div>

        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Espresso</div>
            <div class="col-3 col-md-2">€2.50</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Cappuccino</div>
            <div class="col-3 col-md-2">€3</div>
        </div>

        <div class="col-12 mt-5 text-center" id="beer_wine">
            <h3>Beer & Wine</h3>
        </div>
        <hr class="hr menu-divider">

        <div class="col-12 mb-2">
            <h5>Beer</h5>
        </div>
        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Morretti Draught <br>
                <div style="font-size: 75%">660ml 8.5</div>
            </div>
            <div class="col-3 col-md-2">€7</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Morretti Zerro Bottle <br>
                <div style="font-size: 75%">330ml 6</div>
            </div>
            <div class="col-3 col-md-2">€5.50</div>
        </div>
        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Peroni Nastro Azzurro<br>
                <div style="font-size: 75%">660ml 8.5</div>
            </div>
            <div class="col-3 col-md-2">€6.50</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Peroni Bottle <br>
                <div style="font-size: 75%">330ml 6</div>
            </div>
            <div class="col-3 col-md-2">€5</div>
        </div>

        <div class="col-12 mb-2 mt-4">
            <h5>Wine</h5>
        </div>
        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Valpantena <br>
                <div style="font-size: 75%">Aromas of dried cherry + dark plum's are followed by hints of mocha +
                    dark chocolate on the nose. A powerful, full-bodied palate opens with a spiced fruit character +
                    supportive tannins.</div>
            </div>
            <div class="col-3 col-md-2">€17</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Vigneti Del Vulture <br>
                <div style="font-size: 75%">The nose has layered, highly complex aromas with hints of underbrush,
                    viblets + cocoa. Full-bodied, the wine has a sweet red fruit character with delicate oak
                    nuances· + persistent fruit notes through to the finish.</div>
            </div>
            <div class="col-3 col-md-2">€18</div>
        </div>
        <div class="row">
            <div class="col-9 col-md-4 mb-3 menu-item-title">Canicatti<br>
                <div style="font-size: 75%">Nero d'Avola means "Black of Avola", a reference to the grape's
                    distinctive dark colouring. Full bodied, typical of traditional Nero d'Avola, known for its
                    superbly bold fruit-driven flavour.</div>
            </div>
            <div class="col-3 col-md-2">€20</div>
            <div class="col-9 col-md-4 mb-3 menu-item-title">Cantina di Monteforte <br>
                <div style="font-size: 75%">This wine is a lovely salmon-pink colour with delicate perfumes of red
                    cherries + strawberries. The palate is dry + intense with lingering strawberry hints on the
                    finish.</div>
            </div>
            <div class="col-3 col-md-2">€19.50</div>
        </div>
    </div>
</div>

{% endblock %}